﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 100px;
    padding-bottom: 20px;
}

#equipments_table > tr > td {
    padding-top: 8px;
    padding-bottom: 8px;
}
