﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="messages"></div>
<table id="equipments_table" class="table table-striped">
    <thead>
        <th>Equipment</th>
        <th>Type</th>
        <th>Days</th>
        <th>Action</th>
    </thead>
</table>

<button id="submit_order" class="btn btn-primary" type="submit">Create order</button>

